### summary
- jupyter notebook
    - mode : 명령모드, 편집모드
    - style : markdown. code
    - 단축키 
        - 실행: shift + enter
        - 자동완성 : tab
        - doctstring 보기 : shift + tab
        - 주석설정 : cmd(crlt) + /
        - 셀 생성 : a(위에), b(아래)
    - python 기본문법
        - 변수 선언: RAM 저장공간에 값을 할당하는 행위
        - 식별자 규칙
            - 대문자, 소문자, 숫자, _
            - 가장 앞글자 숫자사용 불가
            - 예약어 사용 불가 : def, class....
            - snake_case(변수, 함수), CamelCase(클래스)
            - pop8문서 
        - 데이터 타입
            - 동적타이핑 : 자동으로 저장공간의 데이터 타입이 설정
            - 기본 데이터타입 : int, float, bool, str
            - 컬렉션 데이터 타입: list(iterable), tuple(iterable), dict
            - offset index : 특정 위치의 데이터를 출력할 때, 사용
            - [] : mask, masking
            - [idx] : idx위치 데이터를 출력
            - [start:end] : start에서 end까지 출력(end는 포함되지 않음)
            - [start:end:stride] : stride만큼씩 점프하여 출력
        - 각 데이터 타입별로 함수가 있다. 
        - 형변환
            - 이미 변수에 설정된 데이터 타입을 변경하는 행위
            - zip : 여러개의 리스트를 같은 인덱스 끼리 묶어주는 함수 
            - 두개의 리스트를 묶어서 dict 형변환
        - 연산자
            - 산술연산자 : +, -, *, /, //, %, **
            - 할당연산자 : A (산술)= (data)
            - 비교연산자 : <, > ==, !=, >=, <=
            - 논리연산자 : and, or, not
            - 멤버연산자 : in, not in

### 1. 조건문
- 특정 조건에 따라서 코드를 실행하고자 할 때, 사용
- if, else, elif

In [1]:
# 조건부분에  : bool 데이터 타입 이외의 데이터 타입이 오면 bool으로 형변환 되어 판단
if True:
    print("python")

print("done")

python
done

In [2]:
# int : 0을 제외한 나머지 값은 True
bool(0),bool(1),bool(2),bool(-1)

(False, True, True, True)

In [3]:
num = 0

if num:
    print("python_1")

num = 2
if num:
    print("python_2")

python_2

In [7]:
number = 7

if number % 2:
    print("홀수")

홀수

In [8]:
# float : 0.0을 제외한 나머지 실수는  True
# str : ""를 제외한 나머지 문자열은  True
# list, tuple, dict : [], (), {}를 제외한 나머지는 True

In [ ]:
# 지갑에 돈이 10000원 이상 있으면 택시를 타고 아니면 걸어서 간다.

In [15]:
money = 3000

if money >= 10000:
    print("택시를 탄다")
elif money >= 5000 and money:
    print("광역 버스를 탄다")
elif money >= 2000 and money:
    print("버스를 탄다")
    
else: 
    print("걸어간다")

버스를 탄다

In [16]:
# 계좌에 10000원이 들어 있다. 
# 인출 금액을 입력 받는다.
# 인출 금액이 계좌에 있는 금액보다 크면 "인출이 불가능 하다".로 출력
# 인출 금액이 계좌에 있는 긍맥보다 작으면 "인출 되었습니다." 출력
# 마지막에 현재 계좌의 잔액을 출력

In [30]:
account = 10000

In [33]:
draw_money = int(input("insert draw money: "))

if account >= draw_money:
    account -= draw_money
    print(str(draw_money) + "원이 인출 되었습니다.")
else:
    print("잔액이 부족합니다.: " + str(account - draw_money) + "원의 잔액이 부족합니다.")
    
print("현재 잔액은" + str(account) + " 원 입니다.")

insert draw money: 5000
잔액이 부족합니다.: -3839원의 잔액이 부족합니다.
현재 잔액은1161 원 입니다.

In [36]:
# string 데이터 타입의 format 함수
print("현재 잔액은" + str(account) + " 원 입니다.")
print("현재 잔액은 {}원 입니다. 인출금액은 {}입니다.".format(account, draw_money))

현재 잔액은1159 원 입니다.
현재 잔액은 1159원 입니다. 인출금액은 2입니다.

#### 삼항연산자
- 간단한 if, else 구문을 한줄의 코드로 표현할수 있는 방법
- (True) if (condition) else (False)

In [37]:
# data 변수에 0이면 "Zero", "not zero"출력
data = 1

if data:
    print("not zero")

else: 
    print("zero")

not zero

In [41]:
 data = 0
result = "not zero" if data else "zero"
result

'zero'

### 2. 반복문
- 반복되는 코드를 실행할 때, 사용
- while, for, break, continue
- list comprehention

In [43]:
# while
data = 3

while data: # 조건이 False가 될 때까지, 구문의 코드를 실행
    
    # 반복되는 코드
    print(data)
    data -= 1

3
2
1

In [ ]:
# 학생이 국어:80점 영어:90점 수학:100점 while 문이용 총점 출력
# 학생의 점수는 list, dict로 표현

In [55]:
point = {"Korean":80, "English":90, "Math":100}
Subject = list(point.values())
idx = len(Subject)
result = 0

while idx:
    idx -= 1
    result = result + Subject[idx]
    
print(result)

270

In [57]:
subject_ls = ["Korean", "English", "Math"]
points_ls = [80, 90, 100]
points_dict = {"Korean":80, "English":90, "Math":100}

In [59]:
datas = points_ls.copy() #깊은복사 : 원본데이터를 보존

In [60]:
total, avg = 0, 0

In [61]:
while datas:
    total += datas.pop()
avg = total / len(points_ls)
total, avg

(270, 90.0)

In [67]:
# 무한루프 : break
# break : 반복문을 중단시키는 예약어
result = 1
while result:
    result += 1
    
    if result >= 10:
        break
        
    
print(result)

10

# for 
- iterable한 값을 하나씩 꺼내서 value에 대입시킨후 코드를 interable 변수의 값 갯수만큼 실행
```
for <variable> in <interable>:
    <cod>
```

In [77]:
# for : continue : 조건부분으로 올라가서 코드가 실행
ls = [0,1,2,3,4,]
for data in ls:
    
    if data % 2: # data가 홀수가 되면 contiue를 실행
        continue
    print(data, end=" ")

0 2 4

In [80]:
# for를 이용해서 코드를 100번 실행
# range 함수
list(range(100))
result = 0
for data in range(100):
    result += data
result

4950

In [81]:
type(result)

int

In [85]:
# offset index 개념과 비슷하게 사용
list(range(5)), list(range(5,10,2)), list(range(10,0,-2))

([0, 1, 2, 3, 4], [5, 7, 9], [10, 8, 6, 4, 2])

In [93]:
# 0~10까지 짝수를 더한 총합
result = 0
for number in range(0,11,2):
    result += number
result

30

In [107]:
list(range(0,11,2)), list(range(1,11,2))

([0, 2, 4, 6, 8, 10], [1, 3, 5, 7, 9])

In [108]:
points_dict = {"Korean":80, "English":90, "Math":100}

In [109]:
list(points_dict.keys())

['Korean', 'English', 'Math']

In [110]:
list(points_dict.items())

[('Korean', 80), ('English', 90), ('Math', 100)]

In [112]:
for subject, points in points_dict.items(): 
    print(subject, points)

Korean 80
English 90
Math 100

In [116]:
list(zip(subject_ls, points_ls))

[('Korean', 80), ('English', 90), ('Math', 100)]

In [113]:
# tuple
a, b = (1,2)
a, b

(1, 2)

In [114]:
subject_ls = ["Korean", "English", "Math"]
points_ls = [80, 90, 100]
for subject, points in zip(subject_ls, points_ls): #for문으로 변수를 받을 때, tuple로 나올 경우, 여러개의 변수를 받을 수 있다.
    print(subject, points)

Korean 80
English 90
Math 100

In [117]:
# 구구단 출력(가로출력)

In [146]:
for num2 in range (1,10):
    for num1 in range(2,10):
        
        print("{}*{}={}".format(num1,num2,num1*num2),end="\t")
    print()

2*1=2	3*1=3	4*1=4	5*1=5	6*1=6	7*1=7	8*1=8	9*1=9
2*2=4	3*2=6	4*2=8	5*2=10	6*2=12	7*2=14	8*2=16	9*2=18
2*3=6	3*3=9	4*3=12	5*3=15	6*3=18	7*3=21	8*3=24	9*3=27
2*4=8	3*4=12	4*4=16	5*4=20	6*4=24	7*4=28	8*4=32	9*4=36
2*5=10	3*5=15	4*5=20	5*5=25	6*5=30	7*5=35	8*5=40	9*5=45
2*6=12	3*6=18	4*6=24	5*6=30	6*6=36	7*6=42	8*6=48	9*6=54
2*7=14	3*7=21	4*7=28	5*7=35	6*7=42	7*7=49	8*7=56	9*7=63
2*8=16	3*8=24	4*8=32	5*8=40	6*8=48	7*8=56	8*8=64	9*8=72
2*9=18	3*9=27	4*9=36	5*9=45	6*9=54	7*9=63	8*9=72	9*9=81

In [153]:
for num2 in range(1,10):
    for num1 in range(2,10):
        print("{}*{}={}".format(num1,num2,num1 + num2),end="\t")
    print()

2*1=3	3*1=4	4*1=5	5*1=6	6*1=7	7*1=8	8*1=9	9*1=10
2*2=4	3*2=5	4*2=6	5*2=7	6*2=8	7*2=9	8*2=10	9*2=11
2*3=5	3*3=6	4*3=7	5*3=8	6*3=9	7*3=10	8*3=11	9*3=12
2*4=6	3*4=7	4*4=8	5*4=9	6*4=10	7*4=11	8*4=12	9*4=13
2*5=7	3*5=8	4*5=9	5*5=10	6*5=11	7*5=12	8*5=13	9*5=14
2*6=8	3*6=9	4*6=10	5*6=11	6*6=12	7*6=13	8*6=14	9*6=15
2*7=9	3*7=10	4*7=11	5*7=12	6*7=13	7*7=14	8*7=15	9*7=16
2*8=10	3*8=11	4*8=12	5*8=13	6*8=14	7*8=15	8*8=16	9*8=17
2*9=11	3*9=12	4*9=13	5*9=14	6*9=15	7*9=16	8*9=17	9*9=18

### 3.List Comprehention
- 리스트 데이터를 만들어주는 방법
- for문보다 빠르게 동작한다.

In [154]:
#각각의 값에 제곱한 결과 출력
ls = [0,1,2,3]
result = []
for data in ls:
    result.append(data**2)
result

[0, 1, 4, 9]

In [156]:
result = [data **2 for data in ls]
result

[0, 1, 4, 9]

In [164]:
#  list comprehention을 이용하여 짝수 리스트 출력
ls = [0,1,2,3]
result = [
    "홀수" if data %2 else "짝수"
    for data in ls
]

result

['짝수', '홀수', '짝수', '홀수']

In [167]:
# list comprehention 조건문
ls = range(10)
[data for data in ls if data %2]

[1, 3, 5, 7, 9]

In [174]:
ls = [1,2,3]
[func for func in dir(ls) if func[:2] != "__" and func[0] == "c"]

['clear', 'copy', 'count']

In [175]:
# for문과 list comprehention 성능 비교

In [180]:
%%timeit
ls = []
for num in range(1,10001):
    if num % 3 == 0:
        ls.append(num)
len(ls)

628 µs ± 11.4 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [181]:
%%timeit
ls = [num for num in range(a, 10001) if num % 3 == 0]
len(ls)

527 µs ± 11.6 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)